*.flutter linguist-detectable=true
*.dart linguist-detectable=true
*.java linguist-detectable=true
*.kotlin linguist-detectable=true
*.html linguist-detectable=true
*.swift linguist-detectable=true
*.ruby linguist-detectable=false
*.javascript linguist-detectable=true
