<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393370046443-6lp4depjh82sua6ha98v1p45guadkp9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393370046443-6lp4depjh82sua6ha98v1p45guadkp9c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393370046443-earstm4iskhoe5a1i8as84evndqcfeo8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDTBe3Eb7Id0gZ938_frpElh4Kf_YFMGdw</string>
	<key>GCM_SENDER_ID</key>
	<string>393370046443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dripcoding.flutterAppFirebaseNoti</string>
	<key>PROJECT_ID</key>
	<string>flutterfirenoti</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirenoti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393370046443:ios:b106711ad70f043fe2d3ae</string>
</dict>
</plist>